.faqs {
  padding-bottom: 30px;
}

.faqs {
  background: #f8f8f8;
  padding-top: 25px;
}

.row.sect-accord {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card {
  overflow: hidden;
}

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.accordion > .card .card-header {
  margin-bottom: -1px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  background: #fff;
  font-family: PoppinsRegular, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.3px;
  min-height: 80px;
  color: #3b494a;
}

.d-inline {
  display: inline !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.mb-0 {
  text-align: center;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.faq-title {
  color: #000;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
input {
  overflow: visible;
}

.collapse:not(.show) {
  display: none;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

section.faqs .col-md-12.button-div a {
  width: 60%;
  margin-top: 20px;
}

.button-primaryyy {
  border-radius: 10px;
  /* line-height: initial; */
  padding: 10px 25px;
  display: block;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(144, 14, 89);
}

.gateway-detail-linkk {
  padding: 10px 25px;
  display: block;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(144, 14, 89);
  font-size: 28px;
  margin-top: 28px !important;
  margin-bottom: 20px;
}
.link-subb {
  font-size: 12px;
  display: block;
}

@media screen (max-width: 768px) {
  section.faqs .col-md-12.button-div a {
    width: 100%;
  }
}
@media screen (max-width: 480px) {
  .gateway-detail-linkk {
    font-size: 21px;
  }
}
